*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: white;
    min-height: 100vh;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navBar{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.3);
}

.navBar i{
    color: black;
    font-size: 20px;
    margin-right: 40px;
    display: none;
}

.navBar .logo{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-right: auto;
}

.navBar ul{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 30px;
}

.navBar ul li{
    list-style: none;
}

.navBar ul a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    font-weight: 500;
}

.navBar ul a::after{
    content: '';
    border-radius: 20px;
    transition: width 0.3s ease-in;
    width: 0%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navBar ul a:hover::after{
    background-color: rgb(240, 209, 36);
    width: 100%;
    height: 3.5px;
}

aside{
    width: 45%;
    height: 100vh;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 1000;
    gap: 50px;
    box-shadow: 6px 6px 3px 10px rgba(0, 0, 0, 0.45);
    display: none;
}

.sideBar i{
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sideBar ul li{
    list-style: none;
}

.sideBar ul a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.sideBar ul a:hover{
    color: rgb(240, 209, 36);
    
}

#aboutPage{
    display: flex;
    flex-direction: column;
    min-height: 89vh;
}

#aboutPage .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgb(241, 241, 239);
}

#aboutPage .aboutUs{
    display: flex;
    gap: 70px;
    background-color: white;
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
}

#aboutPage h1{
    text-align: center;
    margin-top: 10px;
}

#aboutPage p{
    font-size: 19px;
    line-height: 1.5;
    width: 700px;
}

#aboutPage img{
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-left: 30px;
}

#footer{
    background-color: rgb(23, 23, 23);
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#footer .footerContainer{
    display: flex;
    gap: 60px;
   
}

#footer .footerContainer .logo h3, .links h3, .customerCare h3, .footerHours h3, .followUs h3{
    color: white;
    font-size: 17px;
}

#footer .footerContainer .links, .customerCare{
    display: flex;
    flex-direction: column;
}

#footer .footerContainer .links a, .customerCare a{
    margin-top: 15px;
    color: rgb(224, 224, 224);
    text-decoration: none;
    font-size: 16px;
}

#footer .footerContainer .logo p, .footerHours p{
    margin-top: 15px;
    color: rgb(224, 224, 224);
    font-size: 16px;
}

footer .footerContainer .followUs .icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#footer .footerContainer .followUs i{
    margin-top: 15px;
    color: rgb(224, 224, 224);
    font-size: 22px;
    transition: all 0.3s ease-in;
}

#footer .footerContainer .followUs i:hover{
   color: rgb(240, 209, 36);
    transform: translateY(-2px);
}

#footer .ending p{
    color: rgb(224, 224, 224);
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}
